<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    {% load static %} 


    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'design.css' %}">
    {% block head %} 
    {% endblock head %}
</head>
<body>
    {% block content %}
    {% endblock content %}


    <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.bundle.js' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}">

    {% block script %}
    {% endblock script %}
</body>


</html>