{% extends "Views/base.html" %}


{% block title %} Login Page {% endblock title %} 


{% block content %}
<h1 class="font-monospace">Login Page</h1>


<div class ="d-flex flex-column min-vh-100 justify-content-center align-items-center">  
    <form action = "/login_user" method = "post">
        {% csrf_token %}
     <div class="form-row align-items-center">
     
  
       <div class="col-md-12 mb-2">
        {{form.username}}
       </div>
       
       <div class = "col-md-12 mb-1">
            {{form.password}}
        </div>


        <div class = "col-md-12 mb-4">
    
        
         <button type="submit" class="btn btn-primary col-12 mt-2">Sign In</button>
        </div>
        
       

    
   
   </div>
   </form>
   </div>
   
{% endblock content %}


